@import 'utils/variables';

@import 'base/common';
@import 'base/container';
@import 'base/section';

@import 'components/backdrop';
@import 'components/modal';
@import 'components/button';
@import 'components/logo';
@import 'components/list';
@import 'components/list-contact';
@import 'components/list-navigation';
@import 'components/section-title';
@import 'components/social-media-links';

@import 'layout/header';
@import 'layout/hero';
@import 'layout/discription';
@import 'layout/about-us';
@import 'layout/our-team';
@import 'layout/our-clients';
@import 'layout/footer';
@import 'layout/categories';
