:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    --main-color: #212121;
    --hover-color: #2196F3;
    --text-color-grey: #757575;
    --text-color-white: #FFFFFF;
    --text-color-black: #000000;
    --backgroung-color-menu: #FFFFFF;
    --backgroung-color-section: #F5F4FA;
    --background-color-footer: #2F303A;
    --social-media-icon-color: #AFB1B8;
    --social-media-background-color: #FFFFFF;
    --social-media-icon-color-hover: #FFFFFF;
    --social-media-background-color-hover: #2196F3;
}