/* ========== KONTAKT w MENU STRONY ========== */

.contact-list {
    display: none;
}

@media screen and (min-width: 768px) {

    .contact-list {
        list-style: none;
        display: block;
        justify-content: center;
        fill: var(--text-color-grey);

        &__item {
            justify-items: baseline;
            
        }

        &__link {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.143;
            letter-spacing: 0.02em;
            text-decoration: none;
            color: var(--text-color-grey);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover,
            &:focus {
                color: var(--hover-color);
                fill: var(--hover-color);
            }
        }

        &__icon {
            margin-right: 10px;
        }
    }
}

@media screen and (min-width: 1200px) {

    .contact-list {
        list-style: none;
        display: flex;
        justify-items: baseline;
        fill: var(--text-color-grey);
    }

    .contact-list>li:not(:last-child) {
        margin-right: 50px;
    }
}

/* ========== END KONTAKTU w MENU STRONYY ========== */