/* ========== NAWIGACJA, czyli MENU STRONY ========== */

.navigation {
    display: inline-block;
}

.navigation-list {
    display: none;
}

@media screen and (min-width: 768px) {

    .navigation-list {
        display: flex;
        align-items: baseline;
        list-style: none;
        margin-left: 83px;
    }

    .navigation-list>li:not(:last-child) {
        margin-right: 46px;
    }

    .navigation-list__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
        color: var(--main-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--hover-color);
        }
    }

    .navigation-list__item_active {
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--hover-color);
        }
    }
}

/* ========== END NAWIGACJI, czyli MENU STRONY ========== */